.content {
  display: flex;
  align-items: stretch;

  justify-content: space-between;
}
.logo {
  text-align: center;
  height: 80vh;
  width: 100%;
  padding-top: 260px;
}
.about {
  height: 80vh;
  width: 100%;
  text-align: center;
  padding-top: 260px;
}
@media (max-width: 700px) {
  .content {
    flex-direction: column;
  }
  .logo {
    height: 30vh;
    padding-top: 60px;
  }
  .about {
    height: 30vh;
    padding-top: 70px;
    margin: 2px;
  }
}
